<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h4 th:text="#{login.private.message}"></h4>
		<div class="table-responsive" sec:authorize="hasRole('ROLE_CLIENT')">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{name.message}"></th>
						<th th:text="#{email.message}"></th>
						<th th:text="#{user.credits}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${completeName}"></td>
						<td sec:authentication="principal.username"></td>
						<td th:text="${credits}">€</td>
					</tr>
				</tbody>
				</table>
			<h4 th:text="#{offers.active.message}"></h4>	
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{offer.title}"></th>
						<th th:text="#{offer.date}"></th>
						<th th:text="#{offer.description}"></th>
						<th th:text="#{offer.price}"></th>
					</tr>
				</thead>	
				
				<tbody>
					<tr th:each="offer : ${offerList}">
						<td th:text="${offer.title}"></td>
						<td th:text="${offer.date}"></td>
						<td th:text="${offer.description}"></td>
						<td th:text="${offer.price}"></td>						
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container" style="text-align: center"
			sec:authorize="hasRole('ROLE_ADMIN')">
			<span th:text="#{user.authenticated}"></span> 
			<span th:text="${completeName}"></span>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>