<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav"></nav>
<body>


	<h2 th:text="#{welcome.message}"></h2>
	<h4 th:text="#{login.private.message}"></h4>

	<div class="fixed-top">
		<div class="alert fixed-top alert-danger collapse" id="alert"
			th:text="#{notCredits}"></div>
	</div>
	<div class="container white">



		<div class="table table-responsive"
			sec:authorize="hasRole('ROLE_CLIENT')">
			<table class="table table-hover" th:fragment="personalData"
				id="personalData">
				<thead>
					<tr>
						<th th:text="#{name.message}"></th>
						<th th:text="#{email.message}"></th>
						<th th:text="#{user.credits}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${completeName}"></td>
						<td sec:authentication="principal.username"></td>
						<td th:text="${credits}">&#x20AC;</td>
					</tr>
				</tbody>
			</table>
			<hr>
			<hr>
			<h4 th:text="#{offers.active.message}"></h4>
			<hr>
			<hr>
			<div class="table table-responsive">
				<table class="table table-hover" id="createdOffers">
					<thead>
						<tr>
							<th th:text="#{offer.title}"></th>
							<th th:text="#{offer.date}"></th>
							<th th:text="#{offer.description}"></th>
							<th th:text="#{offer.price}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="offer : ${offerList}">
							<td th:text="${offer.title}"></td>
							<td th:text="${offer.date}"></td>
							<td th:text="${offer.description}"></td>
							<td th:text="${offer.price}"></td>

							<td>
								<div th:if="${offer.sold}">
									<p th:text="#{sold.message}"></p>
								</div>
							</td>

							<td><a th:href="${'/offer/delete/' + offer.id}"
								th:text="#{delete.message}"></a></td>
							<div th:unless="${offer.sold}">
								<div th:if="${offer.flash}">
									<td><a th:href="${'/offer/flash/' + offer.id}"
										th:text="#{offer.unflash}"></a></td>
								</div>
								<div th:unless="${offer.flash}">
									<td><a id="link" th:href="${'/offer/flash/' + offer.id}"
										th:text="#{offer.flash}"></a></td>

									<script th:inline="javascript">
								 /*<![CDATA[*/
								 $( "#link" ).click(function() {
								
								 var credits = [[${offer.user.credits}]];								 
								
								 if(credits<20){
									 $('#alert').show().delay(400).addClass("in").fadeOut(3500);									
								 }
								
								 });
								 /*]]>*/
								 </script>

								</div>

							</div>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<hr>
			<h4 th:text="#{offers.bought.message}"></h4>
			<hr>
			<hr>
			<div class="table table-responsive">
				<table class="table table-hover" id="purchasedOffers">
					<thead>
						<tr>
							<th th:text="#{offer.title}"></th>
							<th th:text="#{offer.description}"></th>
							<th th:text="#{buyer.message}"></th>
							<th th:text="#{offer.price}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="purchase : ${purchasedList}">
							<td th:text="${purchase.getTitle()}"></td>
							<td th:text="${purchase.getDescription()}"></td>
							<td th:text="${purchase.getOfferEmail()}"></td>
							<td th:text="${purchase.getPrice()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container" style="text-align: center"
			sec:authorize="hasRole('ROLE_ADMIN')">
			<span th:text="#{user.authenticated}"></span> <span
				th:text="${completeName}"></span>
		</div>
	</div>
	<footer th:replace="fragments/footer"></footer>

</body>

</html>