<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav"></nav>
<body>
	<div class="container">
		<h2 th:text="#{chat.message}"></h2>

		<form class="form-horizontal justify-content-center" method="post"
			th:action="${'/user/addmessage/' + offer.id}" th:object="${message}">
			<div class="form-group">
				<textarea class="form-control" rows="5" cols="70"
					maxlength="50" name="text" id="textarea"
					th:placeholder="#{message.placeholder}" required="true"></textarea>
				<script th:inline="javascript">
								 /*<![CDATA[*/
									$('textarea').keyup(function() {			    
									  var characterCount = $(this).val().length,
									      current = $('#current'),
									      maximum = $('#maximum'),
									      theCount = $('#the-count');			    
			  						      current.text(characterCount);});
									  /*]]>*/
										 </script>
				<div id="the-count">
					<span id="current">0</span> <span id="maximum">/ 50</span>
				</div>
			</div>
			<div class="form-group">
				<div >
					<button type="submit" class="btn btn-primary"
						th:text="#{send.message}"></button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>

</html>