<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav"></nav>
<body>
		<div class="container" style="text-align: center">
			<h2 th:text="#{welcome.message}"></h2>
			<h4 th:text="#{login.private.message}"></h4>
			<div class="table table-responsive"
				sec:authorize="hasRole('ROLE_CLIENT')">
				<h4 th:text="#{conversations.message}"></h4>
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{user.message}"></th>
							<th th:text="#{offer.title}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="conver : ${recievedList}">
							<td  th:text="${conver.offer.user.name}"></td>
							<td th:text="${conver.offer.title}"></td>
							<td ><a
								th:href="${'/user/conver/' + conver.id}"
								th:text="#{conver.message}"></a></td>
							<td ><a
								th:href="${'/user/conver/delete/' + conver.id}"
								th:text="#{delete.message}"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<footer th:replace="fragments/footer"></footer>
</body>

</html>